*{
    margin: 0;
    box-sizing: border-box;
}
header{
/*     padding: 3%;
 */    text-align: center;
    height: 10vh;
}
main{
    display: flex;
    height: 90vh;
    width: 100vw;
}

main .lists{
    height: 100%;
    width: 30%;
    padding: 0 2%;
}

main .lists .search{
    height: 10% ;
    width: 100%;
}

main .lists .list{
    height: 30% ;
    width: 100%;
    padding: 3% 1%;
}

main .lists .results ul, 
main .lists .favorites ul,
main .lists .playlist ul{
    height: 80%;
    overflow-y: scroll;
} 


main .player{
    width: 70%;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
}

main .player figure{    
    height: 60%;
    display: flex;
    justify-content: center;
}

main .player figure #coverCancion{
    height: 100%;
}

main .player .albumData{
    text-align: center;
}
main .player .buttons{
    padding: 5% 10%;
    display: flex;
    justify-content: space-evenly;
}