*{
    margin: 0;
    box-sizing: border-box;
}
header{
/*     padding: 3%;
 */    text-align: center;
    height: 10vh;
}
main{
    display: flex;
    height: 90vh;
    width: 100vw;
}

main .lists{
    height: 100%;
    width: 30%;
    padding: 0 2%;
}

main .lists .search{
    height: 10% ;
    width: 100%;
}

main .lists .list{
    height: 30% ;
    width: 100%;
    padding: 3% 1%;
    overflow-y: scroll;
}

/* main .lists .list .results ul{
  overflow-y: scroll;
} */


main .player{
    width: 70%;
    padding: 0 2%;
}